[submodule "external/nuttx"]
	path = external/nuttx
	url = git@github.com:yongkyuns/nuttx.git
[submodule "external/nuttx-apps"]
	path = external/nuttx-apps
	url = https://github.com/yongkyuns/nuttx-apps.git
