[package]
name = "rustcam"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["staticlib"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = "fat"
codegen-units = 1
opt-level = 'z'
strip = "symbols"
debug = false
overflow-checks = false
debug-assertions = false

# Dependencies - std is built from source via -Zbuild-std
[dependencies]
